.table-wrapper {
  max-height: 100%;
  overflow: auto;

}
.btn-text-right{
  margin-left: 90%;
  text-align: right;
  margin-bottom: 20px;;
  display: flex;
  width: 40px;
}

.table-wrapper thead {
  width: 1000px
}
