<div id="wapper">
  <div class="panel">
    <h2> Cadastro <span> Fornecedor</span></h2>

    <a class="btn btn-primary btn-text-right" [routerLink]="['/cadastro-fornecedor']"><br/>
      <i class="bi bi-plus-circle"></i>
    </a>
    <div>
      <table class="table table-wrapper">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">CNPJ</th>
          <th scope="col">Comment</th>
          <th scope="col">Ação</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fornecedor of fornecedores">
          <th scope="row">{{ fornecedor.id }}</th>
          <td> {{ fornecedor.name }}</td>
          <td> {{ fornecedor.email }}</td>
          <td> {{ fornecedor.cnpj }}</td>
          <td> {{ fornecedor.comment }}</td>
          <td>
            <button [routerLink]="['/cadastro-fornecedor',fornecedor.id]" class="btn btn-warning"> alterar </button>
            <button (click)="deletar(fornecedor.id)" class="btn btn-danger"> deletar  </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

